dcsazure_Cassandra_to_Cassandra_mask_pl/dcsazure_Cassandra_to_Cassandra_mask_pl.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "metadata": "Data Factory name"
    },
    "Metadata Datastore": {
      "type": "string"
    },
    "ADLSToCassandraApp_Sink": {
      "type": "string"
    },
    "AzureDataLakeStorage_Sink": {
      "type": "string"
    },
    "AzureDataLakeStorage_Source": {
      "type": "string"
    },
    "ProdDCSForAzureService": {
      "type": "string"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
  },
  "resources": [
    {
      "name": "[concat(parameters('factoryName'), '/dcsazure_Cassandra_to_Cassandra_mask_pl')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "Execute ADLS Masking Pipeline",
            "type": "ExecutePipeline",
            "dependsOn": [],
            "policy": {
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "pipeline": {
                "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_mask_pl",
                "type": "PipelineReference"
              },
              "waitOnCompletion": true,
              "parameters": {
                "P_COPY_UNMASKED_TABLES": {
                  "value": "@pipeline().parameters.P_COPY_UNMASKED_TABLES",
                  "type": "Expression"
                },
                "P_COPY_USE_DATAFLOW": {
                  "value": "@pipeline().parameters.P_COPY_USE_DATAFLOW",
                  "type": "Expression"
                },
                "P_FAIL_ON_NONCONFORMANT_DATA": {
                  "value": "@pipeline().parameters.P_FAIL_ON_NONCONFORMANT_DATA",
                  "type": "Expression"
                },
                "P_REAPPLY_MAPPING": {
                  "value": "@pipeline().parameters.P_REAPPLY_MAPPING",
                  "type": "Expression"
                },
                "P_TRUNCATE_SINK_BEFORE_WRITE": {
                  "value": "@pipeline().parameters.P_TRUNCATE_SINK_BEFORE_WRITE",
                  "type": "Expression"
                },
                "P_SOURCE_CONTAINER": {
                  "value": "@pipeline().parameters.P_ADLS_SOURCE_CONTAINER_NAME",
                  "type": "Expression"
                },
                "P_SINK_CONTAINER": {
                  "value": "@pipeline().parameters.P_ADLS_SINK_CONTAINER_NAME",
                  "type": "Expression"
                },
                "P_SOURCE_DIRECTORY": {
                  "value": "@concat(pipeline().parameters.P_CASSANDRA_SOURCE_KEYSPACE,'/',pipeline().parameters.P_CASSANDRA_TABLE)",
                  "type": "Expression"
                },
                "P_SINK_DIRECTORY": {
                  "value": "@concat(pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE,'/',pipeline().parameters.P_CASSANDRA_TABLE)",
                  "type": "Expression"
                },
                "P_METADATA_SCHEMA": {
                  "value": "@variables('METADATA_SCHEMA')",
                  "type": "Expression"
                },
                "P_METADATA_RULESET_TABLE": {
                  "value": "@variables('METADATA_RULESET_TABLE')",
                  "type": "Expression"
                },
                "P_METADATA_SOURCE_TO_SINK_MAPPING_TABLE": {
                  "value": "@variables('METADATA_SOURCE_TO_SINK_MAPPING_TABLE')",
                  "type": "Expression"
                },
                "P_METADATA_ADF_TYPE_MAPPING_TABLE": {
                  "value": "@variables('METADATA_ADF_TYPE_MAPPING_TABLE')",
                  "type": "Expression"
                },
                "P_TARGET_BATCH_SIZE": {
                  "value": "@variables('TARGET_BATCH_SIZE')",
                  "type": "Expression"
                },
                "P_DATASET": {
                  "value": "@variables('DATASET')",
                  "type": "Expression"
                },
                "P_METADATA_EVENT_PROCEDURE_NAME": {
                  "value": "@variables('METADATA_EVENT_PROCEDURE_NAME')",
                  "type": "Expression"
                },
                "P_METADATA_MASKING_PARAMS_PROCEDURE_NAME": {
                  "value": "@variables('METADATA_MASKING_PARAMS_PROCEDURE_NAME')",
                  "type": "Expression"
                },
                "P_COLUMN_WIDTH_ESTIMATE": {
                  "value": "@variables('COLUMN_WIDTH_ESTIMATE')",
                  "type": "Expression"
                }
              }
            }
          },
          {
            "name": "Update Logs If Copy Data To ADLS Is True",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "Check ADLS To Cassandra Status",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@pipeline().parameters.P_COPY_ADLS_DATA_TO_CASSANDRA",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "Update Copy ADLS Data to Cassandra State Fail copy",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "storedProcedureName": {
                      "value": "@{variables('METADATA_SCHEMA')}.@{variables('METADATA_EVENT_PROCEDURE_NAME')}",
                      "type": "Expression"
                    },
                    "storedProcedureParameters": {
                      "activity_run_id": {
                        "value": {
                          "value": "@activity('ADLS_to_Cassandra').ActivityRunId",
                          "type": "Expression"
                        },
                        "type": "Guid"
                      },
                      "error_message": {
                        "value": null,
                        "type": "String"
                      },
                      "execution_end_time": {
                        "value": {
                          "value": "@activity('Until ADLS To Cassandra Durable Function Is Success').ExecutionEndTime",
                          "type": "Expression"
                        },
                        "type": "DateTimeOffset"
                      },
                      "execution_start_time": {
                        "value": {
                          "value": "@activity('ADLS_to_Cassandra').ExecutionStartTime",
                          "type": "Expression"
                        },
                        "type": "DateTimeOffset"
                      },
                      "filter_alias": {
                        "value": null,
                        "type": "String"
                      },
                      "filter_condition": {
                        "value": null,
                        "type": "String"
                      },
                      "input_parameters": {
                        "value": {
                          "value": "{\n\"cassandra_contact_points\": \"@{pipeline().parameters.P_CASSANDRA_CONTACT_POINTS}\",\n\"cassandra_preferred_node\":\"@{pipeline().parameters.P_CASSANDRA_PREFERRED_NODE}\",\n\"cassandra_port\": \"@{pipeline().parameters.P_CASSANDRA_PORT}\",\n\"cassandra_preferred_port\": \"@{pipeline().parameters.P_CASSANDRA_PREFERRED_PORT}\",\n\"cassandra_keyspace\": \"@{pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE}\",\n\"cassandra_username\":  \"@{variables('CASSANDRA_USERNAME')}\",\n  \"cassandra_key_vault_name\": \"@{variables('CASSANDRA_KEY_VAULT_NAME')}\",\n  \"cassandra_key_vault_secret_name\": \"@{variables('CASSANDRA_SECRET_NAME')}\",\n\"cassandra_table\": \"@{pipeline().parameters.P_CASSANDRA_TABLE}\",\n\"adls_account_name\":  \"@{variables('STORAGE_ACCOUNT')}\",\n\"adls_file_system\": \"@{pipeline().parameters.P_ADLS_SINK_CONTAINER_NAME}\",\n\"adls_directory\": \"@{pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE}\",\n\"truncate_sink_before_write\": \"@{pipeline().parameters.P_TRUNCATE_SINK_BEFORE_WRITE}\",\n  \"adls_batch_size\": \"@{variables('ADLS_TO_CASSANDRA_BATCH_SIZE')}\",\n\"P_DELETE_ADLS_RECORDS\": \"@{pipeline().parameters.P_DELETE_ADLS_RECORDS}\"\n  }",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "is_masking_activity": {
                        "value": "true",
                        "type": "Boolean"
                      },
                      "pipeline_name": {
                        "value": {
                          "value": "@pipeline().Pipeline",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "pipeline_run_id": {
                        "value": {
                          "value": "@pipeline().RunId",
                          "type": "Expression"
                        },
                        "type": "Guid"
                      },
                      "pipeline_success": {
                        "value": "false",
                        "type": "Boolean"
                      },
                      "sink_database": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_dataset": {
                        "value": {
                          "value": "@variables('DATASET')",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_metadata": {
                        "value": null,
                        "type": "String"
                      },
                      "sink_schema": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_table": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_TABLE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_database": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_SOURCE_KEYSPACE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_dataset": {
                        "value": {
                          "value": "@variables('DATASET')",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_metadata": {
                        "value": null,
                        "type": "String"
                      },
                      "source_schema": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_SOURCE_KEYSPACE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_table": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_TABLE",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "[parameters('Metadata Datastore')]",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          },
          {
            "name": "Check If We Should Copy Data To Cassandra",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "Execute ADLS Masking Pipeline",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@pipeline().parameters.P_COPY_ADLS_DATA_TO_CASSANDRA",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "ADLS_to_Cassandra",
                  "type": "AzureFunctionActivity",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "functionName": {
                      "value": "@pipeline().parameters.P_FUNCTION_NAME",
                      "type": "Expression"
                    },
                    "body": {
                      "value": "{\n\"cassandra_contact_points\": \"@{pipeline().parameters.P_CASSANDRA_CONTACT_POINTS}\",\n\"cassandra_preferred_node\":\"@{pipeline().parameters.P_CASSANDRA_PREFERRED_NODE}\",\n\"cassandra_port\": \"@{pipeline().parameters.P_CASSANDRA_PORT}\",\n\"cassandra_preferred_port\": \"@{pipeline().parameters.P_CASSANDRA_PREFERRED_PORT}\",\n\"cassandra_keyspace\": \"@{pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE}\",\n\"cassandra_username\":  \"@{variables('CASSANDRA_USERNAME')}\",\n  \"cassandra_key_vault_name\": \"@{variables('CASSANDRA_KEY_VAULT_NAME')}\",\n  \"cassandra_key_vault_secret_name\": \"@{variables('CASSANDRA_SECRET_NAME')}\",\n\"cassandra_table\": \"@{pipeline().parameters.P_CASSANDRA_TABLE}\",\n\"adls_account_name\":  \"@{variables('STORAGE_ACCOUNT')}\",\n\"adls_file_system\": \"@{pipeline().parameters.P_ADLS_SINK_CONTAINER_NAME}\",\n\"adls_directory\": \"@{pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE}\",\n\"truncate_sink_before_write\": \"@{pipeline().parameters.P_TRUNCATE_SINK_BEFORE_WRITE}\",\n  \"adls_batch_size\": \"@{variables('ADLS_TO_CASSANDRA_BATCH_SIZE')}\",\n\"P_DELETE_ADLS_RECORDS\": \"@{pipeline().parameters.P_DELETE_ADLS_RECORDS}\"\n  }",
                      "type": "Expression"
                    },
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "method": "POST"
                  },
                  "linkedServiceName": {
                    "referenceName": "[parameters('ADLSToCassandraApp_Sink')]",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          },
          {
            "name": "Until ADLS To Cassandra Durable Function Is Success",
            "type": "Until",
            "dependsOn": [
              {
                "activity": "Check If We Should Copy Data To Cassandra",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@if(\n    equals(pipeline().parameters.P_COPY_ADLS_DATA_TO_CASSANDRA, true),\n    contains(createArray('Completed','Failed','Cancelled','Terminated','Suspended'),activity('ADLS to Cassandra Status').output.runtimeStatus),\n    true\n)",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "Poll Only If Copy Is True",
                  "type": "IfCondition",
                  "dependsOn": [],
                  "userProperties": [],
                  "typeProperties": {
                    "expression": {
                      "value": "@pipeline().parameters.P_COPY_ADLS_DATA_TO_CASSANDRA",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "ADLS to Cassandra Status",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": {
                          "timeout": "1.00:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "method": "GET",
                          "headers": {},
                          "url": {
                            "value": "@activity('ADLS_to_Cassandra').output.statusQueryGetUri",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  }
                }
              ],
              "timeout": "0.12:00:00"
            }
          },
          {
            "name": "Check ADLS To Cassandra Status",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "Until ADLS To Cassandra Durable Function Is Success",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@if(\n    equals(pipeline().parameters.P_COPY_ADLS_DATA_TO_CASSANDRA, true),\n    if(equals(activity('ADLS to Cassandra Status').output.runtimeStatus,'Completed'),equals(activity('ADLS to Cassandra Status').output.output.status,'success'),false),\n    true\n)",
                "type": "Expression"
              },
              "ifFalseActivities": [
                {
                  "name": "Update Copy ADLS Data to Cassandra State Fail",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "storedProcedureName": {
                      "value": "@{variables('METADATA_SCHEMA')}.@{variables('METADATA_EVENT_PROCEDURE_NAME')}",
                      "type": "Expression"
                    },
                    "storedProcedureParameters": {
                      "activity_run_id": {
                        "value": {
                          "value": "@activity('ADLS_to_Cassandra').ActivityRunId",
                          "type": "Expression"
                        },
                        "type": "Guid"
                      },
                      "error_message": {
                        "value": {
                          "value": "@activity('ADLS to Cassandra Status').output.output.message",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "execution_end_time": {
                        "value": {
                          "value": "@activity('Until ADLS To Cassandra Durable Function Is Success').ExecutionEndTime",
                          "type": "Expression"
                        },
                        "type": "DateTimeOffset"
                      },
                      "execution_start_time": {
                        "value": {
                          "value": "@activity('ADLS_to_Cassandra').ExecutionStartTime",
                          "type": "Expression"
                        },
                        "type": "DateTimeOffset"
                      },
                      "filter_alias": {
                        "value": null,
                        "type": "String"
                      },
                      "filter_condition": {
                        "value": null,
                        "type": "String"
                      },
                      "input_parameters": {
                        "value": {
                          "value": "{\n\"cassandra_contact_points\": \"@{pipeline().parameters.P_CASSANDRA_CONTACT_POINTS}\",\n\"cassandra_preferred_node\":\"@{pipeline().parameters.P_CASSANDRA_PREFERRED_NODE}\",\n\"cassandra_port\": \"@{pipeline().parameters.P_CASSANDRA_PORT}\",\n\"cassandra_preferred_port\": \"@{pipeline().parameters.P_CASSANDRA_PREFERRED_PORT}\",\n\"cassandra_keyspace\": \"@{pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE}\",\n\"cassandra_username\":  \"@{variables('CASSANDRA_USERNAME')}\",\n  \"cassandra_key_vault_name\": \"@{variables('CASSANDRA_KEY_VAULT_NAME')}\",\n  \"cassandra_key_vault_secret_name\": \"@{variables('CASSANDRA_SECRET_NAME')}\",\n\"cassandra_table\": \"@{pipeline().parameters.P_CASSANDRA_TABLE}\",\n\"adls_account_name\":  \"@{variables('STORAGE_ACCOUNT')}\",\n\"adls_file_system\": \"@{pipeline().parameters.P_ADLS_SINK_CONTAINER_NAME}\",\n\"adls_directory\": \"@{pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE}\",\n\"truncate_sink_before_write\": \"@{pipeline().parameters.P_TRUNCATE_SINK_BEFORE_WRITE}\",\n  \"adls_batch_size\": \"@{variables('ADLS_TO_CASSANDRA_BATCH_SIZE')}\",\n\"P_DELETE_ADLS_RECORDS\": \"@{pipeline().parameters.P_DELETE_ADLS_RECORDS}\"\n  }",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "is_masking_activity": {
                        "value": "true",
                        "type": "Boolean"
                      },
                      "pipeline_name": {
                        "value": {
                          "value": "@pipeline().Pipeline",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "pipeline_run_id": {
                        "value": {
                          "value": "@pipeline().RunId",
                          "type": "Expression"
                        },
                        "type": "Guid"
                      },
                      "pipeline_success": {
                        "value": "false",
                        "type": "Boolean"
                      },
                      "sink_database": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_dataset": {
                        "value": {
                          "value": "@variables('DATASET')",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_metadata": {
                        "value": null,
                        "type": "String"
                      },
                      "sink_schema": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_table": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_TABLE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_database": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_SOURCE_KEYSPACE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_dataset": {
                        "value": {
                          "value": "@variables('DATASET')",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_metadata": {
                        "value": null,
                        "type": "String"
                      },
                      "source_schema": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_SOURCE_KEYSPACE",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_table": {
                        "value": {
                          "value": "@pipeline().parameters.P_CASSANDRA_TABLE",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "[parameters('Metadata Datastore')]",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "ADLS to Cassandra Fails copy",
                  "type": "Fail",
                  "dependsOn": [
                    {
                      "activity": "Update Copy ADLS Data to Cassandra State Fail",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "typeProperties": {
                    "message": {
                      "value": "@activity('ADLS to Cassandra Status').output.output.message",
                      "type": "Expression"
                    },
                    "errorCode": {
                      "value": "@activity('ADLS to Cassandra Status').output.output.status",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          },
          {
            "name": "Delete ADLS Directory",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "Update Logs If Copy Data To ADLS Is True",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@equals(pipeline().parameters.P_DELETE_ADLS_AFTER_LOAD, true)",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "Purge Sink Directory",
                  "type": "Delete",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "dataset": {
                      "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_container_and_directory_mask_ds",
                      "type": "DatasetReference",
                      "parameters": {
                        "DS_CONTAINER": {
                          "value": "@pipeline().parameters.P_ADLS_SINK_CONTAINER_NAME",
                          "type": "Expression"
                        },
                        "DS_DIRECTORY": {
                          "value": "@concat(pipeline().parameters.P_CASSANDRA_SINK_KEYSPACE,'/',pipeline().parameters.P_CASSANDRA_TABLE)",
                          "type": "Expression"
                        }
                      }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                      "type": "AzureBlobFSReadSettings",
                      "recursive": true,
                      "enablePartitionDiscovery": false
                    }
                  }
                }
              ]
            }
          }
        ],
        "policy": {
          "elapsedTimeMetric": {}
        },
        "parameters": {
          "P_CASSANDRA_CONTACT_POINTS": {
            "type": "string"
          },
          "P_CASSANDRA_PORT": {
            "type": "int"
          },
          "P_CASSANDRA_SOURCE_KEYSPACE": {
            "type": "string"
          },
          "P_CASSANDRA_SINK_KEYSPACE": {
            "type": "string"
          },
          "P_CASSANDRA_TABLE": {
            "type": "string"
          },
          "P_ADLS_SINK_CONTAINER_NAME": {
            "type": "string"
          },
          "P_ADLS_SOURCE_CONTAINER_NAME": {
            "type": "string"
          },
          "P_CASSANDRA_PREFERRED_NODE": {
            "type": "string"
          },
          "P_CASSANDRA_PREFERRED_PORT": {
            "type": "string"
          },
          "P_COPY_USE_DATAFLOW": {
            "type": "bool",
            "defaultValue": false
          },
          "P_FAIL_ON_NONCONFORMANT_DATA": {
            "type": "bool",
            "defaultValue": true
          },
          "P_REAPPLY_MAPPING": {
            "type": "bool",
            "defaultValue": true
          },
          "P_COPY_UNMASKED_TABLES": {
            "type": "bool",
            "defaultValue": true
          },
          "P_TRUNCATE_SINK_BEFORE_WRITE": {
            "type": "bool",
            "defaultValue": true
          },
          "P_COPY_ADLS_DATA_TO_CASSANDRA": {
            "type": "bool",
            "defaultValue": true
          },
          "P_DELETE_ADLS_AFTER_LOAD": {
            "type": "bool",
            "defaultValue": false
          },
          "P_DELETE_ADLS_RECORDS": {
            "type": "bool",
            "defaultValue": false
          },
          "P_FUNCTION_NAME": {
            "type": "string"
          }
        },
        "variables": {
          "METADATA_SCHEMA": {
            "type": "String",
            "defaultValue": "dbo"
          },
          "METADATA_RULESET_TABLE": {
            "type": "String",
            "defaultValue": "discovered_ruleset"
          },
          "METADATA_SOURCE_TO_SINK_MAPPING_TABLE": {
            "type": "String",
            "defaultValue": "adf_data_mapping"
          },
          "METADATA_ADF_TYPE_MAPPING_TABLE": {
            "type": "String",
            "defaultValue": "adf_type_mapping"
          },
          "TARGET_BATCH_SIZE": {
            "type": "Integer",
            "defaultValue": 50000
          },
          "DATASET": {
            "type": "String",
            "defaultValue": "CASSANDRA"
          },
          "METADATA_EVENT_PROCEDURE_NAME": {
            "type": "String",
            "defaultValue": "insert_adf_masking_event"
          },
          "METADATA_MASKING_PARAMS_PROCEDURE_NAME": {
            "type": "String",
            "defaultValue": "generate_masking_parameters"
          },
          "COLUMN_WIDTH_ESTIMATE": {
            "type": "String",
            "defaultValue": "1000"
          },
          "STORAGE_ACCOUNT": {
            "type": "String",
            "defaultValue": "DCS_PLACEHOLDER"
          },
          "CASSANDRA_KEY_VAULT_NAME": {
            "type": "String"
          },
          "CASSANDRA_SECRET_NAME": {
            "type": "String"
          },
          "ADLS_TO_CASSANDRA_BATCH_SIZE": {
            "type": "Integer"
          },
          "CASSANDRA_USERNAME": {
            "type": "String"
          }
        },
        "folder": {
          "name": "dcsazure_Cassandra_to_Cassandra"
        },
        "annotations": [],
        "lastPublishTime": "2026-04-24T10:50:45Z"
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/pipelines/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_mask_pl')]",
        "[concat(variables('factoryId'), '/datasets/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_container_and_directory_mask_ds')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_mask_pl')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "Select Tables That Require Masking",
            "description": "Select tables with a data mapping and assigned algorithms.",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "For Each Directory To Purge",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "AzureSqlSource",
                "sqlReaderQuery": {
                  "value": "WITH\ntables_requiring_masking AS\n(\n    SELECT DISTINCT\n        dataset, specified_database, specified_schema, identified_table\n    FROM @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_RULESET_TABLE}\n    WHERE assigned_algorithm IS NOT NULL\n    AND assigned_algorithm != ''\n    AND dataset = '@{pipeline().parameters.P_DATASET}'\n    AND specified_database = '@{pipeline().parameters.P_SOURCE_CONTAINER}'\n    AND specified_schema LIKE '@{pipeline().parameters.P_SOURCE_DIRECTORY}%'\n)\nSELECT DISTINCT\n\tdm.source_dataset,\n\tdm.source_database,\n\tdm.source_schema,\n    REVERSE(SUBSTRING(REVERSE(dm.source_schema), CHARINDEX('/', REVERSE(dm.source_schema)), LEN(dm.source_schema))) AS source_directory,\n    REVERSE(SUBSTRING(REVERSE(dm.source_schema),0, CHARINDEX('/', REVERSE(dm.source_schema)))) AS source_prefix,\n\tdm.source_table,\n\tdm.sink_dataset,\n\tdm.sink_database,\n\tdm.sink_schema,\n    REVERSE(SUBSTRING(REVERSE(dm.sink_schema), CHARINDEX('/', REVERSE(dm.sink_schema)), LEN(dm.sink_schema))) AS sink_directory,\n    REVERSE(SUBSTRING(REVERSE(dm.source_schema),0, CHARINDEX('/', REVERSE(dm.source_schema)))) AS sink_prefix,\n\tdm.sink_table\nFROM\n\ttables_requiring_masking rs\n\tJOIN @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_SOURCE_TO_SINK_MAPPING_TABLE} dm\n\tON (\n\t\trs.dataset = dm.source_dataset AND\n\t\trs.specified_database = dm.source_database AND\n\t\trs.specified_schema = dm.source_schema AND\n\t\trs.identified_table = dm.source_table\n\t)\nWHERE\n\tdm.sink_database = '@{pipeline().parameters.P_SINK_CONTAINER}'\n    AND dm.sink_schema LIKE '@{pipeline().parameters.P_SINK_DIRECTORY}%'\n\tAND (dm.mapping_complete IS NULL OR dm.mapping_complete = 0)\n\tAND (ISJSON(dm.masked_status) = 0 OR dm.masked_status IS NULL)\nUNION\nSELECT DISTINCT\n\tdm.source_dataset,\n\tdm.source_database,\n\tdm.source_schema,\n    REVERSE(SUBSTRING(REVERSE(dm.source_schema), CHARINDEX('/', REVERSE(dm.source_schema)), LEN(dm.source_schema))) AS source_directory,\n    REVERSE(SUBSTRING(REVERSE(dm.source_schema),0, CHARINDEX('/', REVERSE(dm.source_schema)))) AS source_prefix,\n\tdm.source_table,\n\tdm.sink_dataset,\n\tdm.sink_database,\n\tdm.sink_schema,\n    REVERSE(SUBSTRING(REVERSE(dm.sink_schema), CHARINDEX('/', REVERSE(dm.sink_schema)), LEN(dm.sink_schema))) AS sink_directory,\n    REVERSE(SUBSTRING(REVERSE(dm.source_schema),0, CHARINDEX('/', REVERSE(dm.source_schema)))) AS sink_prefix,\n\tdm.sink_table\nFROM\n\ttables_requiring_masking rs\n\tJOIN @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_SOURCE_TO_SINK_MAPPING_TABLE} dm\n\tON (\n\t\trs.dataset = dm.source_dataset AND\n\t\trs.specified_database = dm.source_database AND\n\t\trs.specified_schema = dm.source_schema AND\n\t\trs.identified_table = dm.source_table\n\t)\nWHERE\n\tdm.sink_database = '@{pipeline().parameters.P_SINK_CONTAINER}'\n    AND dm.sink_schema LIKE '@{pipeline().parameters.P_SINK_DIRECTORY}%'\n\tAND (dm.mapping_complete IS NULL OR dm.mapping_complete = 0)\n\tAND ISJSON(dm.masked_status) = 1\n\tAND JSON_VALUE(dm.masked_status, '$') = 'false'",
                  "type": "Expression"
                },
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "dataset": {
                "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_metadata_mask_ds",
                "type": "DatasetReference",
                "parameters": {
                  "DS_METADATA_SCHEMA": {
                    "value": "@pipeline().parameters.P_METADATA_SCHEMA",
                    "type": "Expression"
                  },
                  "DS_METADATA_TABLE": {
                    "value": "@pipeline().parameters.P_METADATA_RULESET_TABLE",
                    "type": "Expression"
                  }
                }
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "For Each Table To Mask",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "Check If At Least One Column Is Masked",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "items": {
                "value": "@activity('Select Tables That Require Masking').output.value",
                "type": "Expression"
              },
              "isSequential": false,
              "activities": [
                {
                  "name": "Get Source Metadata Mask",
                  "type": "Lookup",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "source": {
                      "type": "AzureSqlSource",
                      "sqlReaderQuery": {
                        "value": "SELECT TOP 1 source_metadata\nFROM @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_RULESET_TABLE}\nWHERE dataset = '@{pipeline().parameters.P_DATASET}'\nAND specified_database = '@{item().source_database}'\nAND specified_schema = '@{item().source_schema}'\nAND identified_table = '@{item().source_table}'\n",
                        "type": "Expression"
                      },
                      "queryTimeout": "02:00:00",
                      "partitionOption": "None"
                    },
                    "dataset": {
                      "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_metadata_mask_ds",
                      "type": "DatasetReference",
                      "parameters": {
                        "DS_METADATA_SCHEMA": {
                          "value": "@pipeline().parameters.P_METADATA_SCHEMA",
                          "type": "Expression"
                        },
                        "DS_METADATA_TABLE": {
                          "value": "@pipeline().parameters.P_METADATA_RULESET_TABLE",
                          "type": "Expression"
                        }
                      }
                    }
                  }
                },
                {
                  "name": "Lookup Masking Parameters",
                  "type": "Lookup",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "source": {
                      "type": "AzureSqlSource",
                      "sqlReaderStoredProcedureName": {
                        "value": "@{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_MASKING_PARAMS_PROCEDURE_NAME}",
                        "type": "Expression"
                      },
                      "storedProcedureParameters": {
                        "dataset": {
                          "type": "String",
                          "value": {
                            "value": "@pipeline().parameters.P_DATASET",
                            "type": "Expression"
                          }
                        },
                        "specified_database": {
                          "type": "String",
                          "value": {
                            "value": "@{item().source_database}",
                            "type": "Expression"
                          }
                        },
                        "specified_schema": {
                          "type": "String",
                          "value": {
                            "value": "@{item().source_schema}",
                            "type": "Expression"
                          }
                        },
                        "identified_table": {
                          "type": "String",
                          "value": {
                            "value": "@item().source_table",
                            "type": "Expression"
                          }
                        },
                        "column_width_estimate": {
                          "type": "Int32",
                          "value": {
                            "value": "@pipeline().parameters.P_COLUMN_WIDTH_ESTIMATE",
                            "type": "Expression"
                          }
                        }
                      },
                      "queryTimeout": "02:00:00",
                      "partitionOption": "None"
                    },
                    "dataset": {
                      "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_metadata_mask_ds",
                      "type": "DatasetReference",
                      "parameters": {
                        "DS_METADATA_SCHEMA": {
                          "value": "@pipeline().parameters.P_METADATA_SCHEMA",
                          "type": "Expression"
                        },
                        "DS_METADATA_TABLE": {
                          "value": "@pipeline().parameters.P_METADATA_RULESET_TABLE",
                          "type": "Expression"
                        }
                      }
                    }
                  }
                },
                {
                  "name": "Perform Masking Per Table No Filter",
                  "description": "Perform masking for the entire table",
                  "type": "ExecuteDataFlow",
                  "dependsOn": [
                    {
                      "activity": "Get Source Metadata Mask",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "Lookup Masking Parameters",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "dataflow": {
                      "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_unfiltered_mask_df",
                      "type": "DataFlowReference",
                      "parameters": {
                        "runId": {
                          "value": "'@{pipeline().RunId}'",
                          "type": "Expression"
                        },
                        "DF_SOURCE_CONTAINER": {
                          "value": "'@{item().source_database}'",
                          "type": "Expression"
                        },
                        "DF_SINK_CONTAINER": {
                          "value": "'@{item().sink_database}'",
                          "type": "Expression"
                        },
                        "DF_SOURCE_DIRECTORY": {
                          "value": "'@{item().source_directory}'",
                          "type": "Expression"
                        },
                        "DF_SINK_DIRECTORY": {
                          "value": "'@{item().sink_directory}'",
                          "type": "Expression"
                        },
                        "DF_SOURCE_PREFIX": {
                          "value": "'@{item().source_prefix}'",
                          "type": "Expression"
                        },
                        "DF_SOURCE_TABLE": {
                          "value": "'@{item().source_table}'",
                          "type": "Expression"
                        },
                        "DF_SINK_TABLE": {
                          "value": "'@{item().sink_table}'",
                          "type": "Expression"
                        },
                        "DF_COLUMN_DELIMITER": {
                          "value": "'@{json(activity('Get Source Metadata Mask').output.firstRow.source_metadata).column_delimiter}'",
                          "type": "Expression"
                        },
                        "DF_QUOTE_CHARACTER": {
                          "value": "'@{json(activity('Get Source Metadata Mask').output.firstRow.source_metadata).quote_character}'",
                          "type": "Expression"
                        },
                        "DF_ESCAPE_CHARACTER": {
                          "value": "'@{json(activity('Get Source Metadata Mask').output.firstRow.source_metadata).escape_character}'",
                          "type": "Expression"
                        },
                        "DF_NULL_VALUE": {
                          "value": "'@{json(activity('Get Source Metadata Mask').output.firstRow.source_metadata).null_value}'",
                          "type": "Expression"
                        },
                        "DF_FIELD_ALGORITHM_ASSIGNMENT": {
                          "value": "'@{activity('Lookup Masking Parameters').output.firstRow.FieldAlgorithmAssignments}'",
                          "type": "Expression"
                        },
                        "DF_COLUMNS_TO_MASK": {
                          "value": "@activity('Lookup Masking Parameters').output.firstRow.ColumnsToMask",
                          "type": "Expression"
                        },
                        "DF_BODY_TYPE_MAPPING": {
                          "value": "@activity('Lookup Masking Parameters').output.firstRow.DataFactoryTypeMapping",
                          "type": "Expression"
                        },
                        "DF_TRIM_LENGTHS": {
                          "value": "@activity('Lookup Masking Parameters').output.firstRow.TrimLengths",
                          "type": "Expression"
                        },
                        "DF_FAIL_ON_NONCONFORMANT_DATA": {
                          "value": "@pipeline().parameters.P_FAIL_ON_NONCONFORMANT_DATA",
                          "type": "Expression"
                        },
                        "DF_TARGET_BATCH_SIZE": {
                          "value": "@pipeline().parameters.P_TARGET_BATCH_SIZE",
                          "type": "Expression"
                        },
                        "DF_FIELD_DATE_FORMAT": {
                          "value": "'@{activity('Lookup Masking Parameters').output.firstRow.DateFormatAssignments}'",
                          "type": "Expression"
                        }
                      },
                      "datasetParameters": {
                        "Source": {},
                        "Sink": {}
                      }
                    },
                    "staging": {},
                    "compute": {
                      "coreCount": 8,
                      "computeType": "General"
                    },
                    "traceLevel": "None",
                    "cacheSinks": {
                      "firstRowOnly": true
                    }
                  }
                },
                {
                  "name": "Fail After Updating Masked State",
                  "type": "Fail",
                  "dependsOn": [
                    {
                      "activity": "Update Masked State No Filter Failed",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "typeProperties": {
                    "message": {
                      "value": "@concat('Failed to mask ', item().source_database, ':', item().source_schema, ' with extension ', item().identified_table)",
                      "type": "Expression"
                    },
                    "errorCode": "500"
                  }
                },
                {
                  "name": "Update Masked State",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [
                    {
                      "activity": "Perform Masking Per Table No Filter",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "storedProcedureName": {
                      "value": "@{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_EVENT_PROCEDURE_NAME}",
                      "type": "Expression"
                    },
                    "storedProcedureParameters": {
                      "activity_run_id": {
                        "value": {
                          "value": "@activity('Perform Masking Per Table No Filter').ActivityRunId",
                          "type": "Expression"
                        },
                        "type": "Guid"
                      },
                      "error_message": {
                        "value": null,
                        "type": "String"
                      },
                      "execution_end_time": {
                        "value": {
                          "value": "@activity('Perform Masking Per Table No Filter').ExecutionEndTime",
                          "type": "Expression"
                        },
                        "type": "DateTimeOffset"
                      },
                      "execution_start_time": {
                        "value": {
                          "value": "@activity('Perform Masking Per Table No Filter').ExecutionStartTime",
                          "type": "Expression"
                        },
                        "type": "DateTimeOffset"
                      },
                      "filter_alias": {
                        "value": null,
                        "type": "String"
                      },
                      "filter_condition": {
                        "value": null,
                        "type": "String"
                      },
                      "input_parameters": {
                        "value": {
                          "value": "{\n    \"DF_FIELD_ALGORITHM_ASSIGNMENT\": \"@{activity('Lookup Masking Parameters').output.firstRow.FieldAlgorithmAssignments}\",\n    \"DF_COLUMNS_TO_MASK\": \"@{activity('Lookup Masking Parameters').output.firstRow.ColumnsToMask}\",\n    \"DF_BODY_TYPE_MAPPING\": \"@{activity('Lookup Masking Parameters').output.firstRow.DataFactoryTypeMapping}\",\n    \"DF_FAIL_ON_NONCONFORMANT_DATA\": \"@{pipeline().parameters.P_FAIL_ON_NONCONFORMANT_DATA}\",\n    \"DF_TRIM_LENGTHS\": \"@{activity('Lookup Masking Parameters').output.firstRow.TrimLengths}\",\n    \"DF_FIELD_DATE_FORMAT\": \"@{activity('Lookup Masking Parameters').output.firstRow.DateFormatAssignments}\"\n}\n",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "is_masking_activity": {
                        "value": "true",
                        "type": "Boolean"
                      },
                      "pipeline_name": {
                        "value": {
                          "value": "@pipeline().Pipeline",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "pipeline_run_id": {
                        "value": {
                          "value": "@pipeline().RunId",
                          "type": "Expression"
                        },
                        "type": "Guid"
                      },
                      "pipeline_success": {
                        "value": "true",
                        "type": "Boolean"
                      },
                      "sink_database": {
                        "value": {
                          "value": "@item().sink_database",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_dataset": {
                        "value": {
                          "value": "@pipeline().parameters.P_DATASET",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_metadata": {
                        "value": null,
                        "type": "String"
                      },
                      "sink_schema": {
                        "value": {
                          "value": "@item().sink_schema",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_table": {
                        "value": {
                          "value": "@item().sink_table",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_database": {
                        "value": {
                          "value": "@item().source_database",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_dataset": {
                        "value": {
                          "value": "@pipeline().parameters.P_DATASET",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_metadata": {
                        "value": {
                          "value": "@activity('Get Source Metadata Mask').output.firstRow.source_metadata",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_schema": {
                        "value": {
                          "value": "@item().source_schema",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_table": {
                        "value": {
                          "value": "@item().source_table",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "[parameters('Metadata Datastore')]",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "Update Masked State No Filter Failed",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [
                    {
                      "activity": "Perform Masking Per Table No Filter",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "storedProcedureName": {
                      "value": "@{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_EVENT_PROCEDURE_NAME}",
                      "type": "Expression"
                    },
                    "storedProcedureParameters": {
                      "activity_run_id": {
                        "value": {
                          "value": "@activity('Perform Masking Per Table No Filter').ActivityRunId",
                          "type": "Expression"
                        },
                        "type": "Guid"
                      },
                      "error_message": {
                        "value": {
                          "value": "@activity('Perform Masking Per Table No Filter').Error.message",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "execution_end_time": {
                        "value": {
                          "value": "@activity('Perform Masking Per Table No Filter').ExecutionEndTime",
                          "type": "Expression"
                        },
                        "type": "DateTimeOffset"
                      },
                      "execution_start_time": {
                        "value": {
                          "value": "@activity('Perform Masking Per Table No Filter').ExecutionStartTime",
                          "type": "Expression"
                        },
                        "type": "DateTimeOffset"
                      },
                      "filter_alias": {
                        "value": null,
                        "type": "String"
                      },
                      "filter_condition": {
                        "value": null,
                        "type": "String"
                      },
                      "input_parameters": {
                        "value": {
                          "value": "{\n    \"DF_FIELD_ALGORITHM_ASSIGNMENT\": \"@{activity('Lookup Masking Parameters').output.firstRow.FieldAlgorithmAssignments}\",\n    \"DF_COLUMNS_TO_MASK\": \"@{activity('Lookup Masking Parameters').output.firstRow.ColumnsToMask}\",\n    \"DF_BODY_TYPE_MAPPING\": \"@{activity('Lookup Masking Parameters').output.firstRow.DataFactoryTypeMapping}\",\n    \"DF_FAIL_ON_NONCONFORMANT_DATA\": \"@{pipeline().parameters.P_FAIL_ON_NONCONFORMANT_DATA}\",\n    \"DF_TRIM_LENGTHS\": \"@{activity('Lookup Masking Parameters').output.firstRow.TrimLengths}\",\n    \"DF_FIELD_DATE_FORMAT\": \"@{activity('Lookup Masking Parameters').output.firstRow.DateFormatAssignments}\"\n}\n",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "is_masking_activity": {
                        "value": "true",
                        "type": "Boolean"
                      },
                      "pipeline_name": {
                        "value": {
                          "value": "@pipeline().Pipeline",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "pipeline_run_id": {
                        "value": {
                          "value": "@pipeline().RunId",
                          "type": "Expression"
                        },
                        "type": "Guid"
                      },
                      "pipeline_success": {
                        "value": "false",
                        "type": "Boolean"
                      },
                      "sink_database": {
                        "value": {
                          "value": "@item().sink_database",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_dataset": {
                        "value": {
                          "value": "@pipeline().parameters.P_DATASET",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_metadata": {
                        "value": null,
                        "type": "String"
                      },
                      "sink_schema": {
                        "value": {
                          "value": "@item().sink_schema",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "sink_table": {
                        "value": {
                          "value": "@item().sink_table",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_database": {
                        "value": {
                          "value": "@item().source_database",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_dataset": {
                        "value": {
                          "value": "@pipeline().parameters.P_DATASET",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_metadata": {
                        "value": {
                          "value": "@activity('Get Source Metadata Mask').output.firstRow.source_metadata",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_schema": {
                        "value": {
                          "value": "@item().source_schema",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "source_table": {
                        "value": {
                          "value": "@item().source_table",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "[parameters('Metadata Datastore')]",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          },
          {
            "name": "Select Tables Without Required Masking",
            "description": "Select tables with a data mapping, and no assigned algorithms.",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "For Each Directory To Purge",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "Check If At Least One Column Is Masked",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "AzureSqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT DISTINCT\n    source_database,\n    source_schema,\n    REVERSE(SUBSTRING(REVERSE(source_schema), CHARINDEX('/', REVERSE(source_schema)), LEN(source_schema))) AS source_directory,\n    REVERSE(SUBSTRING(REVERSE(source_schema),0, CHARINDEX('/', REVERSE(source_schema)))) AS source_prefix,\n    source_table,\n    sink_database,\n    sink_schema,\n    REVERSE(SUBSTRING(REVERSE(sink_schema), CHARINDEX('/', REVERSE(sink_schema)), LEN(sink_schema))) AS sink_directory,\n    REVERSE(SUBSTRING(REVERSE(source_schema),0, CHARINDEX('/', REVERSE(source_schema)))) AS sink_prefix,\n    sink_table\nFROM @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_RULESET_TABLE} rs\nJOIN @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_SOURCE_TO_SINK_MAPPING_TABLE} am\nON (am.source_database = rs.specified_database AND am.source_schema = rs.specified_schema AND am.source_table = rs.identified_table)\nWHERE\n    rs.dataset = '@{pipeline().parameters.P_DATASET}'\n    AND am.source_dataset = '@{pipeline().parameters.P_DATASET}'\n    AND am.sink_dataset = '@{pipeline().parameters.P_DATASET}'\n    AND am.source_database = '@{pipeline().parameters.P_SOURCE_CONTAINER}'\n    AND am.sink_database = '@{pipeline().parameters.P_SINK_CONTAINER}'\n    AND am.source_schema LIKE '@{pipeline().parameters.P_SOURCE_DIRECTORY}%'\n    AND am.sink_schema LIKE '@{pipeline().parameters.P_SINK_DIRECTORY}%'\nEXCEPT\nSELECT DISTINCT\n    source_database,\n    source_schema,\n    REVERSE(SUBSTRING(REVERSE(source_schema), CHARINDEX('/', REVERSE(source_schema)), LEN(source_schema))) AS source_directory,\n    REVERSE(SUBSTRING(REVERSE(source_schema),0, CHARINDEX('/', REVERSE(source_schema)))) AS source_prefix,\n    source_table,\n    sink_database,\n    sink_schema,\n    REVERSE(SUBSTRING(REVERSE(sink_schema), CHARINDEX('/', REVERSE(sink_schema)), LEN(sink_schema))) AS sink_directory,\n    REVERSE(SUBSTRING(REVERSE(source_schema),0, CHARINDEX('/', REVERSE(source_schema)))) AS sink_prefix,\n    sink_table\nFROM @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_RULESET_TABLE} rs\nJOIN @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_SOURCE_TO_SINK_MAPPING_TABLE} am\nON (am.source_database = rs.specified_database AND am.source_schema = rs.specified_schema AND am.source_table = rs.identified_table)\nWHERE\n    rs.dataset = '@{pipeline().parameters.P_DATASET}'\n    AND rs.assigned_algorithm IS NOT NULL\n    AND rs.assigned_algorithm != ''\n    AND am.source_dataset = '@{pipeline().parameters.P_DATASET}'\n    AND am.sink_dataset = '@{pipeline().parameters.P_DATASET}'\n    AND am.source_database = '@{pipeline().parameters.P_SOURCE_CONTAINER}'\n    AND am.sink_database = '@{pipeline().parameters.P_SINK_CONTAINER}'\n    AND am.source_schema LIKE '@{pipeline().parameters.P_SOURCE_DIRECTORY}%'\n    AND am.sink_schema LIKE '@{pipeline().parameters.P_SINK_DIRECTORY}%';",
                  "type": "Expression"
                },
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "dataset": {
                "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_metadata_mask_ds",
                "type": "DatasetReference",
                "parameters": {
                  "DS_METADATA_SCHEMA": {
                    "value": "@pipeline().parameters.P_METADATA_SCHEMA",
                    "type": "Expression"
                  },
                  "DS_METADATA_TABLE": {
                    "value": "@pipeline().parameters.P_METADATA_RULESET_TABLE",
                    "type": "Expression"
                  }
                }
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "Filter If Copy Unmasked Enabled",
            "type": "Filter",
            "dependsOn": [
              {
                "activity": "Select Tables Without Required Masking",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "items": {
                "value": "@activity('Select Tables Without Required Masking').output.value",
                "type": "Expression"
              },
              "condition": {
                "value": "@equals(1,1)",
                "type": "Expression"
              }
            }
          },
          {
            "name": "For Each Table With No Masking",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "Filter If Copy Unmasked Enabled",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "items": {
                "value": "@activity('Filter If Copy Unmasked Enabled').output.value",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "If Copy Via Dataflow",
                  "description": "Determine if we should copy using a dataflow activity or a copy activity",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "Get Source Metadata No Masking",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "typeProperties": {
                    "expression": {
                      "value": "@pipeline().parameters.P_COPY_USE_DATAFLOW",
                      "type": "Expression"
                    },
                    "ifFalseActivities": [
                      {
                        "name": "Copy Unmasked Data",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "source": {
                            "type": "DelimitedTextSource",
                            "storeSettings": {
                              "type": "AzureBlobFSReadSettings",
                              "recursive": true,
                              "wildcardFolderPath": {
                                "value": "@item().source_directory",
                                "type": "Expression"
                              },
                              "wildcardFileName": {
                                "value": "@concat(item().source_prefix, '*', item().source_table)",
                                "type": "Expression"
                              },
                              "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                              "type": "DelimitedTextReadSettings"
                            }
                          },
                          "sink": {
                            "type": "DelimitedTextSink",
                            "storeSettings": {
                              "type": "AzureBlobFSWriteSettings",
                              "copyBehavior": "PreserveHierarchy"
                            },
                            "formatSettings": {
                              "type": "DelimitedTextWriteSettings",
                              "quoteAllText": true,
                              "fileExtension": ""
                            }
                          },
                          "enableStaging": false,
                          "translator": {
                            "type": "TabularTranslator",
                            "typeConversion": true,
                            "typeConversionSettings": {
                              "allowDataTruncation": true,
                              "treatBooleanAsNumber": false
                            }
                          }
                        },
                        "inputs": [
                          {
                            "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_container_and_directory_mask_ds",
                            "type": "DatasetReference",
                            "parameters": {
                              "DS_CONTAINER": {
                                "value": "@item().source_database",
                                "type": "Expression"
                              },
                              "DS_DIRECTORY": {
                                "value": "@item().source_directory",
                                "type": "Expression"
                              }
                            }
                          }
                        ],
                        "outputs": [
                          {
                            "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_container_and_directory_mask_ds",
                            "type": "DatasetReference",
                            "parameters": {
                              "DS_CONTAINER": {
                                "value": "@item().sink_database\n",
                                "type": "Expression"
                              },
                              "DS_DIRECTORY": {
                                "value": "@item().sink_directory",
                                "type": "Expression"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "name": "Fail After Updating Copy State",
                        "type": "Fail",
                        "dependsOn": [
                          {
                            "activity": "Update Copy State Failed",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                          "message": {
                            "value": "Failed to copy @{item().source_database}: @{item().source_schema} with extension @{item().identified_table}",
                            "type": "Expression"
                          },
                          "errorCode": "500"
                        }
                      },
                      {
                        "name": "Update Copy State",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "Copy Unmasked Data",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "storedProcedureName": {
                            "value": "@{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_EVENT_PROCEDURE_NAME}",
                            "type": "Expression"
                          },
                          "storedProcedureParameters": {
                            "activity_run_id": {
                              "value": {
                                "value": "@activity('Copy Unmasked Data').ActivityRunId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "error_message": {
                              "value": null,
                              "type": "String"
                            },
                            "execution_end_time": {
                              "value": {
                                "value": "@activity('Copy Unmasked Data').ExecutionEndTime",
                                "type": "Expression"
                              },
                              "type": "DateTimeOffset"
                            },
                            "execution_start_time": {
                              "value": {
                                "value": "@activity('Copy Unmasked Data').ExecutionStartTime",
                                "type": "Expression"
                              },
                              "type": "DateTimeOffset"
                            },
                            "filter_alias": {
                              "value": null,
                              "type": "String"
                            },
                            "filter_condition": {
                              "value": null,
                              "type": "String"
                            },
                            "input_parameters": {
                              "value": {
                                "value": "{\n    \"P_USE_COPY_DATAFLOW\": @{pipeline().parameters.P_COPY_USE_DATAFLOW}\n}",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "is_masking_activity": {
                              "value": "false",
                              "type": "Boolean"
                            },
                            "pipeline_name": {
                              "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "pipeline_run_id": {
                              "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "pipeline_success": {
                              "value": "true",
                              "type": "Boolean"
                            },
                            "sink_database": {
                              "value": {
                                "value": "@item().sink_database",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_dataset": {
                              "value": {
                                "value": "@pipeline().parameters.P_DATASET",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_metadata": {
                              "value": null,
                              "type": "String"
                            },
                            "sink_schema": {
                              "value": {
                                "value": "@item().sink_schema",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_table": {
                              "value": {
                                "value": "@item().sink_table",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_database": {
                              "value": {
                                "value": "@item().source_database",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_dataset": {
                              "value": {
                                "value": "@pipeline().parameters.P_DATASET",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_metadata": {
                              "value": {
                                "value": "@activity('Get Source Metadata No Masking').output.firstRow.source_metadata",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_schema": {
                              "value": {
                                "value": "@item().source_schema",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_table": {
                              "value": {
                                "value": "@item().source_table",
                                "type": "Expression"
                              },
                              "type": "String"
                            }
                          }
                        },
                        "linkedServiceName": {
                          "referenceName": "[parameters('Metadata Datastore')]",
                          "type": "LinkedServiceReference"
                        }
                      },
                      {
                        "name": "Update Copy State Failed",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "Copy Unmasked Data",
                            "dependencyConditions": [
                              "Failed"
                            ]
                          }
                        ],
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "storedProcedureName": {
                            "value": "@{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_EVENT_PROCEDURE_NAME}",
                            "type": "Expression"
                          },
                          "storedProcedureParameters": {
                            "activity_run_id": {
                              "value": {
                                "value": "@activity('Copy Unmasked Data').ActivityRunId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "error_message": {
                              "value": {
                                "value": "@activity('Copy Unmasked Data').Error.message",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "execution_end_time": {
                              "value": {
                                "value": "@activity('Copy Unmasked Data').ExecutionEndTime",
                                "type": "Expression"
                              },
                              "type": "DateTimeOffset"
                            },
                            "execution_start_time": {
                              "value": {
                                "value": "@activity('Copy Unmasked Data').ExecutionStartTime",
                                "type": "Expression"
                              },
                              "type": "DateTimeOffset"
                            },
                            "filter_alias": {
                              "value": null,
                              "type": "String"
                            },
                            "filter_condition": {
                              "value": null,
                              "type": "String"
                            },
                            "input_parameters": {
                              "value": {
                                "value": "{\n    \"P_USE_COPY_DATAFLOW\": @{pipeline().parameters.P_COPY_USE_DATAFLOW}\n}",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "is_masking_activity": {
                              "value": "false",
                              "type": "Boolean"
                            },
                            "pipeline_name": {
                              "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "pipeline_run_id": {
                              "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "pipeline_success": {
                              "value": "false",
                              "type": "Boolean"
                            },
                            "sink_database": {
                              "value": {
                                "value": "@item().sink_database",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_dataset": {
                              "value": {
                                "value": "@pipeline().parameters.P_DATASET",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_metadata": {
                              "value": null,
                              "type": "String"
                            },
                            "sink_schema": {
                              "value": {
                                "value": "@item().sink_schema",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_table": {
                              "value": {
                                "value": "@item().sink_table",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_database": {
                              "value": {
                                "value": "@item().source_database",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_dataset": {
                              "value": {
                                "value": "@pipeline().parameters.P_DATASET",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_metadata": {
                              "value": {
                                "value": "@activity('Get Source Metadata No Masking').output.firstRow.source_metadata",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_schema": {
                              "value": {
                                "value": "@item().source_schema",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_table": {
                              "value": {
                                "value": "@item().source_table",
                                "type": "Expression"
                              },
                              "type": "String"
                            }
                          }
                        },
                        "linkedServiceName": {
                          "referenceName": "[parameters('Metadata Datastore')]",
                          "type": "LinkedServiceReference"
                        }
                      }
                    ],
                    "ifTrueActivities": [
                      {
                        "name": "Call Copy Dataflow",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "dataflow": {
                            "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_copy_df",
                            "type": "DataFlowReference",
                            "parameters": {
                              "runId": "''",
                              "DF_SOURCE_CONTAINER": "''",
                              "DF_SINK_CONTAINER": "''",
                              "DF_SOURCE_DIRECTORY": "''",
                              "DF_SINK_DIRECTORY": "''",
                              "DF_SOURCE_PREFIX": "''",
                              "DF_COLUMN_DELIMITER": "','",
                              "DF_QUOTE_CHARACTER": "'\"'",
                              "DF_ESCAPE_CHARACTER": "'\\\\'",
                              "DF_NULL_VALUE": "''",
                              "DF_SOURCE_SUFFIX": "''"
                            },
                            "datasetParameters": {
                              "Source": {},
                              "Sink": {}
                            }
                          },
                          "staging": {},
                          "compute": {
                            "coreCount": 8,
                            "computeType": "General"
                          },
                          "traceLevel": "Fine"
                        }
                      },
                      {
                        "name": "Dataflow Update Copy State",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "Call Copy Dataflow",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "storedProcedureName": {
                            "value": "@{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_EVENT_PROCEDURE_NAME}",
                            "type": "Expression"
                          },
                          "storedProcedureParameters": {
                            "activity_run_id": {
                              "value": {
                                "value": "@activity('Call Copy Dataflow').ActivityRunId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "error_message": {
                              "value": null,
                              "type": "String"
                            },
                            "execution_end_time": {
                              "value": {
                                "value": "@activity('Call Copy Dataflow').ExecutionEndTime",
                                "type": "Expression"
                              },
                              "type": "DateTimeOffset"
                            },
                            "execution_start_time": {
                              "value": {
                                "value": "@activity('Call Copy Dataflow').ExecutionStartTime",
                                "type": "Expression"
                              },
                              "type": "DateTimeOffset"
                            },
                            "filter_alias": {
                              "value": null,
                              "type": "String"
                            },
                            "filter_condition": {
                              "value": null,
                              "type": "String"
                            },
                            "input_parameters": {
                              "value": {
                                "value": "{\n    \"P_USE_COPY_DATAFLOW\": @{pipeline().parameters.P_COPY_USE_DATAFLOW}\n}",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "is_masking_activity": {
                              "value": "false",
                              "type": "Boolean"
                            },
                            "pipeline_name": {
                              "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "pipeline_run_id": {
                              "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "pipeline_success": {
                              "value": "true",
                              "type": "Boolean"
                            },
                            "sink_database": {
                              "value": {
                                "value": "@item().sink_database",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_dataset": {
                              "value": {
                                "value": "@pipeline().parameters.P_DATASET",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_metadata": {
                              "value": null,
                              "type": "String"
                            },
                            "sink_schema": {
                              "value": {
                                "value": "@item().sink_schema",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_table": {
                              "value": {
                                "value": "@item().sink_table",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_database": {
                              "value": {
                                "value": "@item().source_database",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_dataset": {
                              "value": {
                                "value": "@pipeline().parameters.P_DATASET",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_metadata": {
                              "value": {
                                "value": "@activity('Get Source Metadata No Masking').output.firstRow.source_metadata",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_schema": {
                              "value": {
                                "value": "@item().source_schema",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_table": {
                              "value": {
                                "value": "@item().source_table",
                                "type": "Expression"
                              },
                              "type": "String"
                            }
                          }
                        },
                        "linkedServiceName": {
                          "referenceName": "[parameters('Metadata Datastore')]",
                          "type": "LinkedServiceReference"
                        }
                      },
                      {
                        "name": "Dataflow Update Copy State Failed",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "Call Copy Dataflow",
                            "dependencyConditions": [
                              "Failed"
                            ]
                          }
                        ],
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "storedProcedureName": {
                            "value": "@{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_EVENT_PROCEDURE_NAME}",
                            "type": "Expression"
                          },
                          "storedProcedureParameters": {
                            "activity_run_id": {
                              "value": {
                                "value": "@activity('Call Copy Dataflow').ActivityRunId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "error_message": {
                              "value": {
                                "value": "@activity('Call Copy Dataflow').Error.message",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "execution_end_time": {
                              "value": {
                                "value": "@activity('Call Copy Dataflow').ExecutionEndTime",
                                "type": "Expression"
                              },
                              "type": "DateTimeOffset"
                            },
                            "execution_start_time": {
                              "value": {
                                "value": "@activity('Call Copy Dataflow').ExecutionStartTime",
                                "type": "Expression"
                              },
                              "type": "DateTimeOffset"
                            },
                            "filter_alias": {
                              "value": null,
                              "type": "String"
                            },
                            "filter_condition": {
                              "value": null,
                              "type": "String"
                            },
                            "input_parameters": {
                              "value": {
                                "value": "{\n    \"P_USE_COPY_DATAFLOW\": @{pipeline().parameters.P_COPY_USE_DATAFLOW}\n}",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "is_masking_activity": {
                              "value": "false",
                              "type": "Boolean"
                            },
                            "pipeline_name": {
                              "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "pipeline_run_id": {
                              "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                              },
                              "type": "Guid"
                            },
                            "pipeline_success": {
                              "value": "false",
                              "type": "Boolean"
                            },
                            "sink_database": {
                              "value": {
                                "value": "@item().sink_database",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_dataset": {
                              "value": {
                                "value": "@pipeline().parameters.P_DATASET",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_metadata": {
                              "value": null,
                              "type": "String"
                            },
                            "sink_schema": {
                              "value": {
                                "value": "@item().sink_schema",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "sink_table": {
                              "value": {
                                "value": "@item().sink_table",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_database": {
                              "value": {
                                "value": "@item().source_database",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_dataset": {
                              "value": {
                                "value": "@pipeline().parameters.P_DATASET",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_metadata": {
                              "value": {
                                "value": "@activity('Get Source Metadata No Masking').output.firstRow.source_metadata",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_schema": {
                              "value": {
                                "value": "@item().source_schema",
                                "type": "Expression"
                              },
                              "type": "String"
                            },
                            "source_table": {
                              "value": {
                                "value": "@item().source_table",
                                "type": "Expression"
                              },
                              "type": "String"
                            }
                          }
                        },
                        "linkedServiceName": {
                          "referenceName": "[parameters('Metadata Datastore')]",
                          "type": "LinkedServiceReference"
                        }
                      },
                      {
                        "name": "Dataflow Fail After Updating Copy State",
                        "type": "Fail",
                        "dependsOn": [
                          {
                            "activity": "Dataflow Update Copy State Failed",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                          "message": {
                            "value": "Failed to copy @{item().source_database}: @{item().source_schema} with extension @{item().identified_table}",
                            "type": "Expression"
                          },
                          "errorCode": "500"
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "Get Source Metadata No Masking",
                  "type": "Lookup",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "source": {
                      "type": "AzureSqlSource",
                      "sqlReaderQuery": {
                        "value": "SELECT TOP 1 source_metadata\nFROM @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_RULESET_TABLE}\nWHERE dataset = '@{pipeline().parameters.P_DATASET}'\nAND specified_database = '@{item().source_database}'\nAND specified_schema = '@{item().source_schema}'\nAND identified_table = '@{item().source_table}'",
                        "type": "Expression"
                      },
                      "queryTimeout": "02:00:00",
                      "partitionOption": "None"
                    },
                    "dataset": {
                      "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_metadata_mask_ds",
                      "type": "DatasetReference",
                      "parameters": {
                        "DS_METADATA_SCHEMA": {
                          "value": "@pipeline().parameters.P_METADATA_SCHEMA",
                          "type": "Expression"
                        },
                        "DS_METADATA_TABLE": {
                          "value": "@pipeline().parameters.P_METADATA_RULESET_TABLE",
                          "type": "Expression"
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          {
            "name": "Check If We Should Reapply Mapping",
            "type": "IfCondition",
            "dependsOn": [],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@pipeline().parameters.P_REAPPLY_MAPPING",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "Mark Table Mapping Incomplete",
                  "description": "Mark all tables in this database and schema as unmapped so that we can re-apply the mapping to them",
                  "type": "Script",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "[parameters('Metadata Datastore')]",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "scripts": [
                      {
                        "type": "Query",
                        "text": {
                          "value": "UPDATE\n    @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_SOURCE_TO_SINK_MAPPING_TABLE}\nSET\n    mapping_complete = CAST(0 AS BIT),\n    masked_status = NULL\nWHERE\n    source_dataset = '@{pipeline().parameters.P_DATASET}'\n    AND source_database = '@{pipeline().parameters.P_SOURCE_CONTAINER}'\n    AND source_schema LIKE '@{pipeline().parameters.P_SOURCE_DIRECTORY}%'\n    AND sink_dataset = '@{pipeline().parameters.P_DATASET}'\n    AND sink_database = '@{pipeline().parameters.P_SINK_CONTAINER}'\n    AND sink_schema LIKE '@{pipeline().parameters.P_SINK_DIRECTORY}%'",
                          "type": "Expression"
                        }
                      }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                  }
                }
              ]
            }
          },
          {
            "name": "Select Directories We Should Purge",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "Check If We Should Reapply Mapping",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "AzureSqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT DISTINCT\n    dm.sink_dataset,\n    dm.sink_database,\n    dm.sink_schema,\n    REVERSE(SUBSTRING(REVERSE(dm.sink_schema), CHARINDEX('/', REVERSE(dm.sink_schema)), LEN(dm.sink_schema))) AS sink_directory\nFROM\n    @{pipeline().parameters.P_METADATA_SCHEMA}.@{pipeline().parameters.P_METADATA_SOURCE_TO_SINK_MAPPING_TABLE} dm\nWHERE\n    dm.source_dataset = '@{pipeline().parameters.P_DATASET}'\n    AND dm.source_database = '@{pipeline().parameters.P_SOURCE_CONTAINER}'\n    AND dm.source_schema LIKE '@{pipeline().parameters.P_SOURCE_DIRECTORY}%'\n    AND dm.sink_dataset = '@{pipeline().parameters.P_DATASET}'\n    AND dm.sink_database = '@{pipeline().parameters.P_SINK_CONTAINER}'\n    AND dm.sink_schema LIKE '@{pipeline().parameters.P_SINK_DIRECTORY}%'\n    AND (dm.mapping_complete IS NULL OR dm.mapping_complete = 0)\n    AND LOWER('@{pipeline().parameters.P_TRUNCATE_SINK_BEFORE_WRITE}') = 'true'",
                  "type": "Expression"
                },
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "dataset": {
                "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_metadata_mask_ds",
                "type": "DatasetReference",
                "parameters": {
                  "DS_METADATA_SCHEMA": {
                    "value": "@pipeline().parameters.P_METADATA_SCHEMA",
                    "type": "Expression"
                  },
                  "DS_METADATA_TABLE": {
                    "value": "@pipeline().parameters.P_METADATA_RULESET_TABLE",
                    "type": "Expression"
                  }
                }
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "For Each Directory To Purge",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "Select Directories We Should Purge",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "items": {
                "value": "@activity('Select Directories We Should Purge').output.value",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "Check For Files",
                  "type": "GetMetadata",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "dataset": {
                      "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_container_and_directory_mask_ds",
                      "type": "DatasetReference",
                      "parameters": {
                        "DS_CONTAINER": {
                          "value": "@item().sink_database",
                          "type": "Expression"
                        },
                        "DS_DIRECTORY": {
                          "value": "@item().sink_directory",
                          "type": "Expression"
                        }
                      }
                    },
                    "fieldList": [
                      "exists"
                    ],
                    "storeSettings": {
                      "type": "AzureBlobFSReadSettings",
                      "recursive": true,
                      "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                      "type": "DelimitedTextReadSettings"
                    }
                  }
                },
                {
                  "name": "If Sink Directory Exists",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "Check For Files",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "typeProperties": {
                    "expression": {
                      "value": "@activity('Check For Files').output.exists",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "Purge Sink Directory",
                        "type": "Delete",
                        "dependsOn": [],
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "dataset": {
                            "referenceName": "dcsazure_Cassandra_to_Cassandra_ADLS_delimited_container_and_directory_mask_ds",
                            "type": "DatasetReference",
                            "parameters": {
                              "DS_CONTAINER": {
                                "value": "@item().sink_database",
                                "type": "Expression"
                              },
                              "DS_DIRECTORY": {
                                "value": "@item().sink_directory",
                                "type": "Expression"
                              }
                            }
                          },
                          "enableLogging": false,
                          "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "Check If At Least One Column Is Masked",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "Select Tables That Require Masking",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@if(\n    equals(pipeline().parameters.P_COPY_UNMASKED_TABLES, false),\n    equals(activity('Select Tables That Require Masking').output.count,0),\n    false\n)",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "No Columns Masked",
                  "type": "Fail",
                  "dependsOn": [],
                  "userProperties": [],
                  "typeProperties": {
                    "message": {
                      "value": "No columns are masked in the Cassandra table '@{pipeline().parameters.P_SOURCE_CONTAINER}'. Please assign a masking algorithm to at least one column and try again.",
                      "type": "Expression"
                    },
                    "errorCode": "500"
                  }
                }
              ]
            }
          }
        ],
        "policy": {
          "elapsedTimeMetric": {}
        },
        "parameters": {
          "P_COPY_UNMASKED_TABLES": {
            "type": "bool",
            "defaultValue": false
          },
          "P_COPY_USE_DATAFLOW": {
            "type": "bool",
            "defaultValue": false
          },
          "P_FAIL_ON_NONCONFORMANT_DATA": {
            "type": "bool",
            "defaultValue": true
          },
          "P_REAPPLY_MAPPING": {
            "type": "bool",
            "defaultValue": true
          },
          "P_TRUNCATE_SINK_BEFORE_WRITE": {
            "type": "bool",
            "defaultValue": true
          },
          "P_SOURCE_CONTAINER": {
            "type": "string"
          },
          "P_SINK_CONTAINER": {
            "type": "string"
          },
          "P_SOURCE_DIRECTORY": {
            "type": "string"
          },
          "P_SINK_DIRECTORY": {
            "type": "string"
          },
          "P_METADATA_SCHEMA": {
            "type": "string"
          },
          "P_METADATA_RULESET_TABLE": {
            "type": "string"
          },
          "P_METADATA_SOURCE_TO_SINK_MAPPING_TABLE": {
            "type": "string"
          },
          "P_METADATA_ADF_TYPE_MAPPING_TABLE": {
            "type": "string"
          },
          "P_TARGET_BATCH_SIZE": {
            "type": "int"
          },
          "P_DATASET": {
            "type": "string"
          },
          "P_CONDITIONAL_MASKING_RESERVED_CHARACTER": {
            "type": "string"
          },
          "P_METADATA_EVENT_PROCEDURE_NAME": {
            "type": "string"
          },
          "P_METADATA_MASKING_PARAMS_PROCEDURE_NAME": {
            "type": "string"
          },
          "P_COLUMN_WIDTH_ESTIMATE": {
            "type": "string"
          }
        },
        "folder": {
          "name": "dcsazure_Cassandra_to_Cassandra"
        },
        "annotations": [],
        "lastPublishTime": "2026-04-24T10:37:25Z"
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/datasets/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_metadata_mask_ds')]",
        "[concat(variables('factoryId'), '/dataflows/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_unfiltered_mask_df')]",
        "[concat(variables('factoryId'), '/datasets/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_container_and_directory_mask_ds')]",
        "[concat(variables('factoryId'), '/dataflows/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_copy_df')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_metadata_mask_ds')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "properties": {
        "linkedServiceName": {
          "referenceName": "[parameters('Metadata Datastore')]",
          "type": "LinkedServiceReference"
        },
        "parameters": {
          "DS_METADATA_SCHEMA": {
            "type": "string"
          },
          "DS_METADATA_TABLE": {
            "type": "string"
          }
        },
        "folder": {
          "name": "dcsazure_Cassandra_to_Cassandra"
        },
        "annotations": [],
        "type": "AzureSqlTable",
        "schema": [
          {
            "name": "dataset",
            "type": "varchar"
          },
          {
            "name": "specified_database",
            "type": "varchar"
          },
          {
            "name": "specified_schema",
            "type": "varchar"
          },
          {
            "name": "identified_table",
            "type": "varchar"
          },
          {
            "name": "identified_column",
            "type": "varchar"
          },
          {
            "name": "identified_column_type",
            "type": "varchar"
          },
          {
            "name": "identified_column_max_length",
            "type": "int",
            "precision": 10
          },
          {
            "name": "ordinal_position",
            "type": "int",
            "precision": 10
          },
          {
            "name": "row_count",
            "type": "bigint",
            "precision": 19
          },
          {
            "name": "metadata",
            "type": "nvarchar"
          },
          {
            "name": "profiled_domain",
            "type": "varchar"
          },
          {
            "name": "profiled_algorithm",
            "type": "varchar"
          },
          {
            "name": "confidence_score",
            "type": "decimal",
            "precision": 6,
            "scale": 5
          },
          {
            "name": "rows_profiled",
            "type": "bigint",
            "precision": 19
          },
          {
            "name": "assigned_algorithm",
            "type": "varchar"
          },
          {
            "name": "last_profiled_updated_timestamp",
            "type": "datetime",
            "precision": 23,
            "scale": 3
          }
        ],
        "typeProperties": {
          "schema": {
            "value": "@dataset().DS_METADATA_SCHEMA",
            "type": "Expression"
          },
          "table": {
            "value": "@dataset().DS_METADATA_TABLE",
            "type": "Expression"
          }
        }
      },
      "dependsOn": []
    },
    {
      "name": "[concat(parameters('factoryName'), '/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_container_and_directory_mask_ds')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "properties": {
        "linkedServiceName": {
          "referenceName": "[parameters('AzureDataLakeStorage_Sink')]",
          "type": "LinkedServiceReference"
        },
        "parameters": {
          "DS_CONTAINER": {
            "type": "string"
          },
          "DS_DIRECTORY": {
            "type": "string"
          }
        },
        "folder": {
          "name": "dcsazure_Cassandra_to_Cassandra"
        },
        "annotations": [],
        "type": "DelimitedText",
        "typeProperties": {
          "location": {
            "type": "AzureBlobFSLocation",
            "folderPath": {
              "value": "@dataset().DS_DIRECTORY",
              "type": "Expression"
            },
            "fileSystem": {
              "value": "@dataset().DS_CONTAINER",
              "type": "Expression"
            }
          },
          "columnDelimiter": ",",
          "escapeChar": "\\",
          "firstRowAsHeader": false,
          "quoteChar": "\""
        },
        "schema": [
          {
            "type": "String"
          }
        ]
      },
      "dependsOn": []
    },
    {
      "name": "[concat(parameters('factoryName'), '/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_unfiltered_mask_df')]",
      "type": "Microsoft.DataFactory/factories/dataflows",
      "apiVersion": "2018-06-01",
      "properties": {
        "folder": {
          "name": "dcsazure_Cassandra_to_Cassandra"
        },
        "type": "MappingDataFlow",
        "typeProperties": {
          "sources": [
            {
              "linkedService": {
                "referenceName": "[parameters('AzureDataLakeStorage_Source')]",
                "type": "LinkedServiceReference"
              },
              "name": "Source",
              "description": "Select source data in source container DF_SOURCE_CONTAINER, and wildcard that is constructed based on DF_SOURCE_DIRECTORY, DF_SOURCE_PREFIX, and DF_SOURCE_TABLE using an inline dataset, with DF_COLUMN_DELIMITER, DF_QUOTE_CHARACTER, DF_ESCAPE_CHARACTER, and DF_NULL_VALUE as specified in the parameters, and storing the file name in DELPHIX_COMPLIANCE_SERVICE_FILE_NAME"
            }
          ],
          "sinks": [
            {
              "linkedService": {
                "referenceName": "[parameters('AzureDataLakeStorage_Sink')]",
                "type": "LinkedServiceReference"
              },
              "name": "Sink",
              "description": "Sink results of masking to data store by sinking all columns but DELPHIX_COMPLIANCE_SERVICE_BATCH_ID, DELPHIX_COMPLIANCE_SERVICE_SORT_ID, and DELPHIX_COMPLIANCE_SERVICE_FILE_NAME to the data sink, naming the file as DELPHIX_COMPLIANCE_SERVICE_SINK_FILE_NAME, and using the same metadata settings as were used in the source with DF_COLUMN_DELIMITER, DF_QUOTE_CHARACTER, DF_ESCAPE_CHARACTER, and DF_NULL_VALUE"
            }
          ],
          "transformations": [
            {
              "name": "DCSForAzureAPI",
              "linkedService": {
                "referenceName": "[parameters('ProdDCSForAzureService')]",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "AddSortKey",
              "description": "Create column DELPHIX_COMPLIANCE_SERVICE_SORT_ID that consists of SHA of the data across all columns in the table - every row will have this value and it cannot be null"
            },
            {
              "name": "SortBySortKey",
              "description": "Sort the table by the value in DELPHIX_COMPLIANCE_SERVICE_SORT_ID, as we need the table to be in a particular order before we apply a surrogate key"
            },
            {
              "name": "CreateSurrogateKey",
              "description": "Add a DELPHIX_COMPLIANCE_SERVICE_BATCH_ID column that increments by 1 and starts at 1 after applying the sorting"
            },
            {
              "name": "WrapValuesInArray",
              "description": "For each column we wish to mask, convert the value into an array, this is needed to preserve null values as null when using collect, as null values become [], and encode the column names to handle body type mapping changes"
            },
            {
              "name": "SelectColumnsUnmasked",
              "description": "Select only columns that don't require masking"
            },
            {
              "name": "AggregateColumnsByBatch",
              "description": "For each column we wish to mask, aggregate to a list using collect, grouped by DELPHIX_COMPLIANCE_SERVICE_BATCH_ID batches by using DF_TARGET_BATCH_SIZE and the number of columns being masked, name the group as DELPHIX_COMPLIANCE_SERVICE_BATCH_GROUP"
            },
            {
              "name": "FlattenValuesOutOfArray",
              "description": "For each column we wish to mask, flatten the value out of the array, in the case where the value was previously [], it becomes null"
            },
            {
              "name": "AssertNoFailures",
              "description": "Confirm that we received a 200 response status from the API request"
            },
            {
              "name": "FlattenAggregateData",
              "description": "Unroll the API response body into decoded named columns"
            },
            {
              "name": "JoinMaskedAndUnmaskedData",
              "description": "Inner join on SelectColumnsUnmasked and FlattenAggregateData based on matching DELPHIX_COMPLIANCE_SERVICE_BATCH_ID"
            },
            {
              "name": "CreateSinkFileName",
              "description": "Create column DELPHIX_COMPLIANCE_SERVICE_SINK_FILE_NAME by replacing DF_SOURCE_DIRECTORY with DF_SINK_DIRECTORY in the value in DELPHIX_COMPLIANCE_SERVICE_FILE_NAME"
            },
            {
              "name": "CreateAlterRow",
              "description": "Add an alter row condition so that all rows will be inserted into the existing table with the correct column order"
            },
            {
              "name": "CombineRows",
              "description": "Union the output of RemoveAmbiguousColumn with the empty CreateAlterRow table, and performing the union by name"
            },
            {
              "name": "RemoveAmbiguousColumn",
              "description": "Since both FlattenAggregateData and SelectColumnsUnmasked have a column DELPHIX_COMPLIANCE_SERVICE_BATCH_ID, we need to remove that column, so select all columns whose name isn't DELPHIX_COMPLIANCE_SERVICE_BATCH_ID"
            },
            {
              "name": "RemoveAllData",
              "description": "To preserve the order of the columns, we will remove all rows from the table by filtering on false()"
            }
          ],
          "scriptLines": [
            "parameters{",
            "     runId as string (''),",
            "     DF_SOURCE_CONTAINER as string (''),",
            "     DF_SINK_CONTAINER as string (''),",
            "     DF_SOURCE_DIRECTORY as string (''),",
            "     DF_SINK_DIRECTORY as string (''),",
            "     DF_SOURCE_PREFIX as string (''),",
            "     DF_SOURCE_TABLE as string (''),",
            "     DF_SINK_TABLE as string (''),",
            "     DF_COLUMN_DELIMITER as string (''),",
            "     DF_QUOTE_CHARACTER as string (''),",
            "     DF_ESCAPE_CHARACTER as string (''),",
            "     DF_NULL_VALUE as string (''),",
            "     DF_FIELD_ALGORITHM_ASSIGNMENT as string ('{}'),",
            "     DF_COLUMNS_TO_MASK as string[] ([\"\"]),",
            "     DF_BODY_TYPE_MAPPING as string ('(timestamp as date, status as string, message as string, trace_id as string, items as (DELPHIX_COMPLIANCE_SERVICE_BATCH_ID as long)[])'),",
            "     DF_TRIM_LENGTHS as integer[] ([-1]),",
            "     DF_FAIL_ON_NONCONFORMANT_DATA as boolean (true()),",
            "     DF_TARGET_BATCH_SIZE as integer (50000),",
            "     DF_FIELD_DATE_FORMAT as string ('{}')",
            "}",
            "source(useSchema: false,",
            "     allowSchemaDrift: true,",
            "     validateSchema: false,",
            "     ignoreNoFilesFound: false,",
            "     rowUrlColumn: 'DELPHIX_COMPLIANCE_SERVICE_FILE_NAME',",
            "     format: 'delimited',",
            "     fileSystem: ($DF_SOURCE_CONTAINER),",
            "     columnDelimiter: ($DF_COLUMN_DELIMITER),",
            "     escapeChar: ($DF_ESCAPE_CHARACTER),",
            "     quoteChar: ($DF_QUOTE_CHARACTER),",
            "     nullValue: ($DF_NULL_VALUE),",
            "     columnNamesAsHeader: true,",
            "     multiLineRow: true,",
            "     wildcardPaths:[(concat($DF_SOURCE_DIRECTORY,iif(length($DF_SOURCE_PREFIX) == 0,iif(equals('NO_EXT',$DF_SOURCE_TABLE),'*',concat('*',$DF_SOURCE_TABLE)),iif(equals('NO_EXT',$DF_SOURCE_TABLE),concat($DF_SOURCE_PREFIX,'*'),concat($DF_SOURCE_PREFIX,'*',$DF_SOURCE_TABLE)))))],",
            "     partitionBy('roundRobin', 32)) ~> Source",
            "FlattenValuesOutOfArray call(mapColumn(",
            "          each(match(name!='DELPHIX_COMPLIANCE_SERVICE_BATCH_GROUP'))",
            "     ),",
            "     skipDuplicateMapInputs: true,",
            "     skipDuplicateMapOutputs: true,",
            "     output(",
            "          headers as [string,string],",
            "          body as (timestamp as date, status as string, message as string, trace_id as string, items as (DELPHIX_COMPLIANCE_SERVICE_BATCH_ID as long)[]),",
            "          status as string",
            "     ),",
            "     allowSchemaDrift: true,",
            "     format: 'rest',",
            "     store: 'restservice',",
            "     timeout: 300,",
            "     requestInterval: 0,",
            "     headers = ['Run-Id' -> $runId, 'Field-Algorithm-Assignment' -> $DF_FIELD_ALGORITHM_ASSIGNMENT, 'Fail-On-Non-Conformant-Data' -> iif($DF_FAIL_ON_NONCONFORMANT_DATA,'true','false'), 'Field-Date-Format' -> $DF_FIELD_DATE_FORMAT],",
            "     httpMethod: 'POST',",
            "     entity: 'v1/masking/batchMaskByColumn',",
            "     headerColumnName: 'headers',",
            "     bodyColumnName: 'body',",
            "     statusColumnName: 'status',",
            "     addResponseCode: true,",
            "     requestFormat: ['type' -> 'json'],",
            "     responseFormat: ['type' -> 'json', 'documentForm' -> 'documentPerLine'],",
            "     columnTypeMap: ['body'->'$DF_BODY_TYPE_MAPPING']) ~> DCSForAzureAPI",
            "Source derive(DELPHIX_COMPLIANCE_SERVICE_SORT_ID = sha2(256, columns())) ~> AddSortKey",
            "AddSortKey sort(asc(DELPHIX_COMPLIANCE_SERVICE_SORT_ID, false)) ~> SortBySortKey",
            "SortBySortKey keyGenerate(output(DELPHIX_COMPLIANCE_SERVICE_BATCH_ID as long),",
            "     startAt: 1L,",
            "     stepValue: 1L) ~> CreateSurrogateKey",
            "CreateSurrogateKey derive(each(match(contains($DF_COLUMNS_TO_MASK,#item==name)), concat('x',hex(encode($$))) = array($$))) ~> WrapValuesInArray",
            "CreateSurrogateKey select(mapColumn(",
            "          each(match(!contains($DF_COLUMNS_TO_MASK,#item==name)))",
            "     ),",
            "     skipDuplicateMapInputs: true,",
            "     skipDuplicateMapOutputs: true) ~> SelectColumnsUnmasked",
            "WrapValuesInArray aggregate(groupBy(DELPHIX_COMPLIANCE_SERVICE_BATCH_GROUP = toInteger(ceil(DELPHIX_COMPLIANCE_SERVICE_BATCH_ID/($DF_TARGET_BATCH_SIZE/size($DF_COLUMNS_TO_MASK))))),",
            "     each(match((startsWith(name,'x')&&not(contains($DF_COLUMNS_TO_MASK,#item==name)))||(name==\"DELPHIX_COMPLIANCE_SERVICE_BATCH_ID\")), $$ = collect($$))) ~> AggregateColumnsByBatch",
            "AggregateColumnsByBatch derive(each(match(startsWith(name,'x')||(name==\"DELPHIX_COMPLIANCE_SERVICE_BATCH_ID\")), $$ = flatten($$))) ~> FlattenValuesOutOfArray",
            "DCSForAzureAPI assert(expectTrue(toInteger(regexExtract(status, '(\\\\d+)', 1)) == 200, false, 'Failed_request', null, iif(isNull(body.message), status, concatWS(', ', 'timestamp: ' + toString(body.timestamp), 'status: ' + body.status, 'message: ' + body.message, 'trace_id: ' + body.trace_id))),",
            "     abort: true) ~> AssertNoFailures",
            "AssertNoFailures foldDown(unroll(body.items),",
            "     mapColumn(",
            "          every(body.items,match(name=='DELPHIX_COMPLIANCE_SERVICE_BATCH_ID')),",
            "          every(body.items,match(startsWith(name,'x')),",
            "               decode(unhex(replace($$,'x',''))) = $$)",
            "     ),",
            "     skipDuplicateMapInputs: false,",
            "     skipDuplicateMapOutputs: false) ~> FlattenAggregateData",
            "SelectColumnsUnmasked, FlattenAggregateData join(SelectColumnsUnmasked@DELPHIX_COMPLIANCE_SERVICE_BATCH_ID == FlattenAggregateData@DELPHIX_COMPLIANCE_SERVICE_BATCH_ID,",
            "     joinType:'inner',",
            "     matchType:'exact',",
            "     ignoreSpaces: false,",
            "     broadcast: 'off')~> JoinMaskedAndUnmaskedData",
            "CombineRows derive(DELPHIX_COMPLIANCE_SERVICE_SINK_FILE_NAME = replace(DELPHIX_COMPLIANCE_SERVICE_FILE_NAME, $DF_SOURCE_DIRECTORY, $DF_SINK_DIRECTORY)) ~> CreateSinkFileName",
            "RemoveAllData alterRow(insertIf(true())) ~> CreateAlterRow",
            "CreateAlterRow, RemoveAmbiguousColumn union(byName: true)~> CombineRows",
            "JoinMaskedAndUnmaskedData select(mapColumn(",
            "          each(match(name!=\"DELPHIX_COMPLIANCE_SERVICE_BATCH_ID\"))",
            "     ),",
            "     skipDuplicateMapInputs: true,",
            "     skipDuplicateMapOutputs: true) ~> RemoveAmbiguousColumn",
            "CreateSurrogateKey filter(false()) ~> RemoveAllData",
            "CreateSinkFileName sink(allowSchemaDrift: true,",
            "     validateSchema: false,",
            "     format: 'delimited',",
            "     fileSystem: ($DF_SINK_CONTAINER),",
            "     folderPath: ($DF_SINK_DIRECTORY),",
            "     columnDelimiter: ($DF_COLUMN_DELIMITER),",
            "     escapeChar: ($DF_ESCAPE_CHARACTER),",
            "     quoteChar: ($DF_QUOTE_CHARACTER),",
            "     nullValue: ($DF_NULL_VALUE),",
            "     columnNamesAsHeader: true,",
            "     rowUrlColumn:'DELPHIX_COMPLIANCE_SERVICE_SINK_FILE_NAME',",
            "     umask: 0022,",
            "     preCommands: [],",
            "     postCommands: [],",
            "     skipDuplicateMapInputs: true,",
            "     skipDuplicateMapOutputs: true,",
            "     mapColumn(",
            "          each(match(name!=\"DELPHIX_COMPLIANCE_SERVICE_BATCH_ID\"&&name!=\"DELPHIX_COMPLIANCE_SERVICE_SORT_ID\"&&name!=\"DELPHIX_COMPLIANCE_SERVICE_FILE_NAME\"))",
            "     )) ~> Sink"
          ]
        }
      },
      "dependsOn": []
    },
    {
      "name": "[concat(parameters('factoryName'), '/dcsazure_Cassandra_to_Cassandra_ADLS_delimited_copy_df')]",
      "type": "Microsoft.DataFactory/factories/dataflows",
      "apiVersion": "2018-06-01",
      "properties": {
        "folder": {
          "name": "dcsazure_Cassandra_to_Cassandra"
        },
        "type": "MappingDataFlow",
        "typeProperties": {
          "sources": [
            {
              "linkedService": {
                "referenceName": "[parameters('AzureDataLakeStorage_Source')]",
                "type": "LinkedServiceReference"
              },
              "name": "Source",
              "description": "Select source data in source container DF_SOURCE_CONTAINER, and wildcard that is constructed based on DF_SOURCE_DIRECTORY, DF_SOURCE_PREFIX, and DF_SOURCE_TABLE using an inline dataset, with DF_COLUMN_DELIMITER, DF_QUOTE_CHARACTER, DF_ESCAPE_CHARACTER, and DF_NULL_VALUE as specified in the parameters, and storing the file name in DELPHIX_COMPLIANCE_SERVICE_FILE_NAME"
            }
          ],
          "sinks": [
            {
              "linkedService": {
                "referenceName": "[parameters('AzureDataLakeStorage_Sink')]",
                "type": "LinkedServiceReference"
              },
              "name": "Sink",
              "description": "Sink results of masking to data store by sinking all columns but DELPHIX_COMPLIANCE_SERVICE_BATCH_ID, DELPHIX_COMPLIANCE_SERVICE_SORT_ID, and DELPHIX_COMPLIANCE_SERVICE_FILE_NAME to the data sink, naming the file as DELPHIX_COMPLIANCE_SERVICE_SINK_FILE_NAME, and using the same metadata settings as were used in the source with DF_COLUMN_DELIMITER, DF_QUOTE_CHARACTER, DF_ESCAPE_CHARACTER, and DF_NULL_VALUE"
            }
          ],
          "transformations": [
            {
              "name": "CreateSinkFileName",
              "description": "Create column DELPHIX_COMPLIANCE_SERVICE_SINK_FILE_NAME by replacing DF_SOURCE_DIRECTORY with DF_SINK_DIRECTORY in the value in DELPHIX_COMPLIANCE_SERVICE_FILE_NAME"
            }
          ],
          "scriptLines": [
            "parameters{",
            "     runId as string (''),",
            "     DF_SOURCE_CONTAINER as string (''),",
            "     DF_SINK_CONTAINER as string (''),",
            "     DF_SOURCE_DIRECTORY as string (''),",
            "     DF_SINK_DIRECTORY as string (''),",
            "     DF_SOURCE_PREFIX as string (''),",
            "     DF_COLUMN_DELIMITER as string (','),",
            "     DF_QUOTE_CHARACTER as string ('\"'),",
            "     DF_ESCAPE_CHARACTER as string ('\\\\'),",
            "     DF_NULL_VALUE as string (''),",
            "     DF_SOURCE_SUFFIX as string ('')",
            "}",
            "source(useSchema: false,",
            "     allowSchemaDrift: true,",
            "     validateSchema: false,",
            "     ignoreNoFilesFound: false,",
            "     rowUrlColumn: 'DELPHIX_COMPLIANCE_SERVICES_FILE_NAME',",
            "     format: 'delimited',",
            "     fileSystem: ($DF_SOURCE_CONTAINER),",
            "     columnDelimiter: ($DF_COLUMN_DELIMITER),",
            "     escapeChar: ($DF_ESCAPE_CHARACTER),",
            "     quoteChar: ($DF_QUOTE_CHARACTER),",
            "     nullValue: ($DF_NULL_VALUE),",
            "     columnNamesAsHeader: true,",
            "     multiLineRow: true,",
            "     wildcardPaths:[(concat($DF_SOURCE_DIRECTORY,iif(length($DF_SOURCE_PREFIX) == 0,iif(equals('NO_EXT',$DF_SOURCE_SUFFIX),'*',concat('*',$DF_SOURCE_SUFFIX)),iif(equals('NO_EXT',$DF_SOURCE_SUFFIX),concat($DF_SOURCE_PREFIX,'*'),concat($DF_SOURCE_PREFIX,'*',$DF_SOURCE_SUFFIX)))))]) ~> Source",
            "Source derive(DELPHIX_COMPLIANCE_SERVICES_SINK_FILE_NAME = replace(DELPHIX_COMPLIANCE_SERVICES_FILE_NAME, $DF_SOURCE_DIRECTORY, $DF_SINK_DIRECTORY)) ~> CreateSinkFileName",
            "CreateSinkFileName sink(allowSchemaDrift: true,",
            "     validateSchema: false,",
            "     format: 'delimited',",
            "     fileSystem: ($DF_SINK_CONTAINER),",
            "     folderPath: ($DF_SINK_DIRECTORY),",
            "     columnDelimiter: ($DF_COLUMN_DELIMITER),",
            "     escapeChar: ($DF_ESCAPE_CHARACTER),",
            "     quoteChar: ($DF_QUOTE_CHARACTER),",
            "     nullValue: ($DF_NULL_VALUE),",
            "     columnNamesAsHeader: true,",
            "     rowUrlColumn:'DELPHIX_COMPLIANCE_SERVICES_SINK_FILE_NAME',",
            "     umask: 0022,",
            "     preCommands: [],",
            "     postCommands: [],",
            "     skipDuplicateMapInputs: true,",
            "     skipDuplicateMapOutputs: true,",
            "     mapColumn(",
            "          each(match(name!=\"DELPHIX_COMPLIANCE_SERVICES_FILE_NAME\"&&name!=\"DELPHIX_COMPLIANCE_SERVICES_SINK_FILE_NAME\"))",
            "     )) ~> Sink"
          ]
        }
      },
      "dependsOn": []
    }
  ]
}
